<div class="login-page">
  <div *ngIf="isAuthenticated" class="success">
    <h1>Successfully login!</h1>
  </div>
  <mat-spinner *ngIf="isAuthenticated"></mat-spinner>
  <form *ngIf="!isAuthenticated" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
    <h1>Sign In</h1>
    <span *ngIf="errorMessage?.length" class="error">{{errorMessage}}</span>
    <mat-form-field class="login-item" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter your email" formControlName="email" name="email">
    </mat-form-field>
    <mat-form-field class="login-item" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" formControlName="password" value="" name="password"
        type="password">
    </mat-form-field>
    <button [disabled]="!loginForm.valid" mat-raised-button color="primary">Login</button>
    <button mat-raised-button color="primary" (click)="goToRegister()">Register</button>
  </form>
</div>
