  <div class="register-page">
    <div *ngIf="userToken?.length" class="created">
      <h1>User successfully created!</h1>
    </div>
    <mat-spinner *ngIf="userToken?.length"></mat-spinner>
    <form *ngIf="!userToken?.length" [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
      <h1>Registration</h1>
      <span *ngIf="errorMessage?.length" class="error">{{errorMessage}}</span>
      <mat-form-field class="register-item" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Attila" formControlName="email" name="email">
      </mat-form-field>
      <mat-form-field class="register-item" appearance="outline">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="Enter user name" formControlName="userName" name="userName">
      </mat-form-field>
      <mat-form-field class="register-item" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter your password" formControlName="password" value="" name="password"
          type="password">
      </mat-form-field>
      <button [disabled]="!registerForm.valid" mat-raised-button color="primary">Register</button>
      <button mat-raised-button color="primary" (click)="goToLogin()">Login</button>
    </form>
  </div>
