.dialog {
  width: 40vw;
  padding: 30px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: #fff;
  border-radius: 16px;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;

    .dates {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 15px;
    }

    &-item {
      margin: 10px 0;
      width: 70%;
    }

    .bordered {
      border-radius: 4px;
      border: 1px solid grey;
      padding: 5px 10px;
    }

    .wide {
      width: 100%;
    }
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .close {
      cursor: pointer;
    }
  }

  .footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
  }
}

.wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: 0.4;
  left: 0;
  top: 0;
  z-index: 99;
}

.bold-mb10 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.bold-m0 {
  margin: 0;
  font-weight: bold;
}

.full-w {
  width: 100%;
}

.msg {
  position: absolute;
  top: -10%;
  left: 0;
  width: 70%;
  padding: 15px 30px;
  font-size: 19px;
  color: #fff;
  background: rgb(182, 41, 41);
  border-radius: 16px;
  z-index: 15;
}
